.carousel-item .carousel {
    transition: transform 0.2s ease; /* Adjust transition speed */
  }

  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    opacity: 0.8;
  }
  
  .scroll-btn.left {
    left: 0; 
  }
  
  .scroll-btn.right {
    right: 0; 
  }
  
  .scroll-btn:hover {
    opacity: 1; 
  }